﻿

<div ng-controller="UrlController" class="container" ng-init="init('@Url.Action("AddUrl","Home")',
                                @ViewBag.JsonList)">


    <canvas id="bar" class="chart chart-bar"
            chart-data="data" chart-labels="labels">
    </canvas>
    <div class="row">
        <div class="center-block col-md-4" style="float: none;">
            <input ng-model="name" class="form-control" placeholder="Enter URL, please" />
            <label> Your URL is: {{ name }} </label>

            <button type="button" class="btn" ng-click="sendUrl()"> Send</button>
            </div>
        </div>




        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Url string</th>
                    <th>Pending time(ms)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="item in jsonListUrls | orderBy : 'Pending' : true ">
                    <td> {{item.Id}} </td>
                    <td>{{item.UrlString}} </td>
                    <td>{{item.Pending}} </td>
                </tr>
            </tbody>
        </table>

</div>

